.a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}
strong{
	color: white;
	font-size: 30px;
	font-family: verdana;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
	border-right:3px solid #bbb;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 46px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #e0e0d1;
}
body, html {
	background-color: #333;
    height: 100%;
    margin: 0;
}
